/* Divers
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;

Colors

light : #F0F5F9;
a bit darker : #E9ECEF;
darker : #C9D6DF;
darker but not so much : #52616B;
dark as hell : #1E2022;

links & hover : #048998;

*/

/*p {
  border: 2px solid  black;
}
*/

body {
  height: 400vh;
  font-family: 'Montserrat', sans-serif;
}

#navbar {
  box-shadow: 0 0.063rem 0.313rem 0 rgba(0,0,0,0.07),0 0.063rem 0 0 rgba(0,0,0,0.03); /* 1/16, 5/16, 1/16 */
  background: #C9D6DF;
  transition: all 0.3s ease;
  height: 4.5rem; /* 72/16 */
  width: 100%;
  padding: 0rem 1.875rem 0rem 0.625rem; /* 0/16, 30/16, 0/16, 10/16 */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-github img {
  height: 4.063rem; /* 65/16 */
}
.navbar-menus {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-item {
  cursor: pointer;
  padding: 0 1.25rem; /* 20/16 */
}
.navbar-link {
  color: #1E2022;
  font-size: 0.875rem; /* 14/16 */
}
.navbar-link:hover {
  color: #048998;
}
.fixed {
  position: sticky;
  z-index: 10;
  height: 4.5rem; /* 72/16 */
  top: 0;
}
.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin: 5px;
}
.card-description {
  position: absolute;
  z-index: 2;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  background: black;
  opacity: 0.2;
}
.accordion-toggle {
  height: 5.8rem;
  width: 95%;
  margin: auto;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  border-radius: 2px;
}
.accordion-content {
  width: 91%;
  margin: auto;
  color: #888;
  display: none;
  background-color: #F0F5F9;
  border-radius: 2px;
  border-left: 2px solid  #52616B;
  padding: 1rem;
}
.accordion-content p {
  margin-top: 0;
  margin-bottom: 0;
}
.accordion-toggle2 {
  height: 8vh;
  width: 95%;
  margin: auto;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  border-radius: 2px;
}
.accordion-content2 {
  width: 91%;
  margin: auto;
  color: #888;
  display: none;
  background-color: #F0F5F9;
  border-radius: 2px;
  border-left: 2px solid  #52616B;
  padding: 1rem;
}
.accordion-content2 p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-bottom: 0px!important;
}



.whoami {
  padding-top: 4.5rem; /* 72/16 */
  background-color: #F0F5F9;
  height: 12.5rem; /* 200/16 */
}
.a-propos {
  background-color: #F0F5F9;
}
.competences {
  background-color: white;
}
.formations {
  background-color: #F0F5F9;
}
.section-content {
  padding: 35px 100px 35px 100px;
}
.section {
  padding-top: 1.563rem; /* 25/16 */
  padding-bottom: 1.563rem;
}



.timeline {
   width: 80%;
   padding: 50px 0;
   margin: 50px auto;
   position: relative;
   overflow: hidden;
}

.timeline:before {
   content: '';
   position: absolute;
   top: 0;
   left: 50%;
   margin-left: -1px;
   width: 2px;
   height: 100%;
   background: #CCD1D9;
   z-index: 1
}

.timeline-block {
   width: -webkit-calc(50% + 8px);
   width: -moz-calc(50% + 8px);
   width: calc(50% + 8px);
   display: -webkit-box;
   display: -webkit-flex;
   display: -moz-box;
   display: flex;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -moz-box-pack: justify;
   justify-content: space-between;
   clear: both;
}

.timeline-block-right {
   float: right;
}

.timeline-block-left {
   float: left;
   direction: rtl
}

.marker {
   width: 16px;
   height: 16px;
   border-radius: 50%;
   border: 2px solid #F0F5F9;
   background: #048998;
   margin-top: 10px;
   z-index: 5
}

.timeline-content {
   width: 95%;
   padding: 0 15px;
   color: #666
}

.timeline-content h3 {
   margin-top: 5px;
   margin-bottom: 5px;
   font-size: 25px;
   font-weight: 500
}

.timeline-content span {
   font-size: 15px;
   color: #a4a4a4;
}

.timeline-content p {
   font-size: 14px;
   line-height: 1.5em;
   word-spacing: 1px;
   color: #888;
}

.timeline-content > ul > li {
   font-size: 14px;
   line-height: 1.5em;
   word-spacing: 1px;
   color: #888;
}

@media screen and (max-width: 768px) {
   .timeline:before {
      left: 8px;
      width: 2px;
   }
   .timeline-block {
      width: 100%;
      margin-bottom: 30px;
   }
   .timeline-block-right {
      float: none;
   }

   .timeline-block-left {
      float: none;
      direction: ltr;
   }
}


