/* Divers
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;

Colors

light : #F0F5F9;
a bit darker : #E9ECEF;
darker : #C9D6DF;
darker but not so much : #52616B;
dark as hell : #1E2022;

links & hover : #048998;

*/

body {
  height: 200vh;
  font-family: 'Montserrat', sans-serif;
}

#navbar {
  box-shadow: 0 0.063rem 0.313rem 0 rgba(0,0,0,0.07),0 0.063rem 0 0 rgba(0,0,0,0.03); /* 1/16, 5/16, 1/16 */
  background: #C9D6DF;
  transition: all 0.3s ease;
  height: 4.5rem; /* 72/16 */
  width: 100%;
  padding: 0rem 1.875rem 0rem 0.625rem; /* 0/16, 30/16, 0/16, 10/16 */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-github img {
  height: 4.063rem; /* 65/16 */
}
.navbar-menus {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-item {
  cursor: pointer;
  padding: 0 1.25rem; /* 20/16 */
}
.navbar-link {
  color: #1E2022;
  font-size: 0.875rem; /* 14/16 */
}
.navbar-link:hover {
  color: #048998;
}
.fixed {
  position: sticky;
  z-index: 3;
  height: 4.5rem; /* 72/16 */
  top: 0;
}
.whoami {
  padding-top: 4.5rem; /* 72/16 */
  background-color: #E9ECEF;
  height: 12.5rem; /* 200/16 */
}
.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin: 5px;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0.2;
}



.a-propos {
  background-color: #F0F5F9;
}
.competences {
  background-color: white;
}
.section-content {
  padding: 35px 100px 35px 100px;
}
.section {
  padding-top: 1.563rem; /* 25/16 */
}


#accordion img {
  width: 23%;
  height: 90%;
  padding-top: 8px;
}

.accordion-toggle {
  height: 10vh;
  cursor: zoom-in;
  color: black;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  border-radius: 2px;
  background-color: #F0F5F9;
}
.badge-card-name {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 0px;
}
.objective-decription {
  color: black;
  background-color: rgba(204, 204, 204, 0.3);
  border-radius: 2px;
  border-left: 2px solid rgb(159, 159, 159);
  padding: 1.25rem; /* 20/16 */
}
.accordion-content {
  display: none;
  background-color: #F0F5F9;
  border-radius: 2px;
  border-left: 1px solid  #52616B;
  padding: 1.25rem; /* 20/16 */
}
